:root {
  --interactive-outline-color: #{$color-outline};
}

body {
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", sans-serif;

  background-color: #fafafa;
}

.shadow-text {
  text-shadow: 2px 2px 5px #000,0 0 20px #000,0 0 30px #000;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

a:focus,
label:focus,
button:focus {
  outline-offset: -1px;
  outline: 2px solid var(--interactive-outline-color) !important;
}

a.link,
.body-html a {
  color: #1775a5;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: #0e4562;
    text-decoration: underline;
  }
}

[x-cloak] {
  display: none !important;
}

.ql-toolbar {
  border-radius: 0.5rem 0.5rem 0 0;
}

.ql-container {
  min-height: 5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
