$field-border-active-color: #f0d1b3;
$field-focus-shadow: 0 0 0 .25rem rgba(204,102,0,.65);

:root {
  --field-box-shadow: none;
  --field-border-color: #{$color-border};
}

.dropdown {

  &__activator {
    transition:
      transform .15s ease-in-out,
      top .15s ease-in-out,
      font-size .15s ease-in-out,
      color .15s ease-in-out;

    .default-activator {
      box-shadow: var(--field-box-shadow);
      border: 1px solid var(--field-border-color);
    }

    &--open,
    &:active {
      .default-activator {

      --field-box-shadow: #{$field-focus-shadow};
      --field-border-color: #{$field-border-active-color};
      }
    }
  }
}
