.fields-group {
  &:not(&--no-shrink) > * {
    flex: 1;
  }

  &--no-shrink > * {
    flex: 1 0 180px;

    @include screen('md') {
      flex: 1;
    }
  }

  &:is(.gap-0) > * {
    &:is(:first-child) {
      input {
        border-right-width: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }

    &:is(:last-child) {
      input {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }

    &:not(:first-child):not(:last-child) {
      input {
        border-radius: 0 !important;
        border-right-width: 0 !important;
      }
    }
  }

  &_1_1_2 {
    & > * {
      flex: 1;
    }

    & > *:is(:last-child) {
      flex: 0 0 100%;

      @include screen('md') {
        flex: 2;
      }
    }
  }

  &_3_3_1 {
    &:not(&--no-shrink) > * {
      flex: 0 0 100%;

      @include screen('md') {
        flex: 3;
      }
    }

    & > *:is(:last-child) {
      flex: 1;
    }
  }
}
