.cemetery {

  &__image {
    height: 420px;

    &--grady {
      &::after,
      &::before {
        content: '';
        box-sizing: border-box;

        left: 0;
        z-index: 1;
        position: absolute;

        display: block;

        width: 100%;

        pointer-events: none;
      }

      &::after {
        bottom: 0;

        height: 25%;

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 80%);
      }

      &::before {
        top: 0;

        height: 45%;

        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 9%, rgba(0, 0, 0, 0) 22%);
      }
    }
  }
}
